trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  # Do not hardcode these! Use ADO Secret Variables (see Phase 4)
  LT_USERNAME: $(LT_USERNAME)
  LT_ACCESS_KEY: $(LT_ACCESS_KEY)

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: npm install
    displayName: 'Install dependencies'

  - script: npx playwright install --with-deps
    displayName: 'Install Playwright Browsers'

  - script: |
      export LT_USERNAME=$(LT_USERNAME)
      export LT_ACCESS_KEY=$(LT_ACCESS_KEY)
      npx playwright test
    displayName: 'Run Playwright Tests'